.file-explorer{
    display: flex;
    height: 500px;
}

#left-pane {
    padding-right: 24px;
    border: 1px solid #ddd;
    overflow-x: scroll;
    
}
#right-pane {
    border: 1px solid #ddd;
    min-width: 900px;
}

.col__file-name {
   min-width: 480px;
}

.folder-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
.folder-arrow {
    display: inline-block;
    width: 10px;
    margin-right: 8px;
}

.folder-icon {
    margin-right: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

li {
    list-style-type: none;
}

thead {
    border: 1px solid #ddd;
}

.selected-folder {
    background-color: #e0f7fa; /* Light blue background to indicate selection */
    border-radius: 4px;
    font-weight: bold; /* Optional: Make the folder name bold */
}
.selected {
    background-color: rgba(0, 123, 255, 0.2); /* Light blue highlight */
}
